php_flag display_errors 1
php_value error_reporting E_ALL

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?rt=$1 [L,QSA]
# RewriteRule ^([^/]*)/?([^/]*)?/?(.*)?$ index.php?route=$1&action=$2&param=$3 [L,QSA]