<!DOCTYPE html>
<html>
<head>
	<!--!include _head.html-->
</head>
<body id="login-body">
	<div class="container">
		<form class="form-signin" action="" method="post">
			<h2 class="form-signin-heading">Přihlášení</h2>
			<!--!alerts-->
			<input class="input-block-level" type="text" name="username" placeholder="Username" />
			<input class="input-block-level" type="password" name="password" placeholder="Heslo" />
			<button class="btn btn-large btn-primary" type="submit">Přihlásit</button>
			<a class="btn btn-large" href="/auth/register">Registrovat</a>
		</form>
	</div>
	<!--!include _imports.html-->
</body>
</html>