<h2>Změna hesla</h2>
<form action="" method="post" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="old_password">Původní heslo</label>
		<div class="controls">
			<input id="old_password" type="password" name="old_password" data-required />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Nové heslo</label>
		<div class="controls">
			<input id="password" type="password" name="password" data-required />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="confirm">Potvrzení hesla</label>
		<div class="controls">
			<input id="confirm" type="password" name="confirm" data-required data-conditional="confirm" />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button class="btn btn-primary">Potvrdit</button>
			<button type="reset" class="btn">Reset</button>
		</div>
	</div>
</form>