<h2 class="detail-heading"><span class="muted">#<!--{id}--></span> <!--{name}--></h2>
<div class="detail-actionbar">
	<ul class="nav nav-pills">
		<li class="active"><a href="/dir/list/">Zpět na výpis</a></li>
		<li rel="tooltip" title="Přejmenuje název složky" data-placement="bottom"><a href="/dir/edit/<!--{id}-->">Přejmenovat</a></li>
		<li rel="tooltip" title="Smaže složku, nikoliv skripty" data-placement="bottom"><a href="/dir/delete/<!--{id}-->">Smazat</a></li>
	</ul>
</div>
<div class="clear"></div>
<form action="" method="post">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Název</th>
				<th>Počet kroků</th>
			</tr>
		</thead>
		<tbody>
			<!--{while scripts}-->
			<tr>
				<td><input type="checkbox" name="scripts[]" value="<!--{id}-->" /> <a href="/script/show/<!--{id}-->"><!--{id}--></a></td>
				<td><a href="/script/show/<!--{id}-->"><!--{title}--></a></td>
				<td><!--{count}--></td>
			</tr>
			<!--{/while}-->
			<!--{if noresults}?
			<tr>
				<td></td>
				<td colspan="2" class="muted">Nebyly nalezeny žádné skripty.</td>
			</tr>
			:{/if}-->
		</tbody>
	</table>
	<br />
	Označené přesunout do:
	<select name="directory" class="change-directory">
		<option value="">Zvolte sadu</option>
		<!--{while dirs}-->
		<option value="<!--{id}-->"><!--{name}--></option>
		<!--{/while}-->
	</select>
	<button class="btn change-directory">Potvrdit</button>
</form>