<form id="form-repository-new" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
	<br />
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#lA" data-toggle="tab">SQL/HTML</a></li>
			<li><a href="#lB" data-toggle="tab">URL</a></li>
		</ul>
		<div class="tab-content">
			<h2>Založení repozitáře</h2>
			<div class="control-group">
		<label class="control-label" for="input-url">Název</label>
		<div class="controls">
			<input id="input-url" class="input-xlarge" type="text" name="name" placeholder="Název repozitáře" />
		</div>
	</div>
			<div class="tab-pane active" id="lA">
				<fieldset id="form-urlmethod">
					<legend>Načtení ze zdrojových souborů</legend>
					<div class="control-group">
						<label class="control-label" for="input-file">Vyberte soubor</label>
						<div class="controls">
							<input id="input-file" type="file" name="file[]" multiple />
						</div>
					</div>
				</fieldset>
			</div>
			<div class="tab-pane" id="lB">
				<fieldset>
					<legend>Načtení z URL kódu</legend>
					<div class="control-group">
						<label class="control-label" for="textarea-url">Vložte URL adresu</label>
						<div class="controls">
							<input id="input-url" class="input-xlarge" type="text" name="url" placeholder="http://www.example.com/" />
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Potvrdit</button>
		</div>
	</div>
</form>