<h2 class="detail-heading"><span class="muted">#<!--{id}--></span> <!--{name}--></h2>
<div class="detail-actionbar">
	<ul class="nav nav-pills">
		<li class="active"><a href="<!--{if back_url}?:{/if}-->/repository/show/<!--{id}-->">Zpět</a></li>
	</ul>
</div>
<form id="form-repository-new" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
	<br />
	<div class="control-group">
		<label class="control-label" for="input-url">Název</label>
		<div class="controls">
			<input id="input-url" class="input-xlarge" type="text" name="name" placeholder="Název repozitáře" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="input-file">Buď vyberte soubor</label>
		<div class="controls">
			<input id="input-file" type="file" name="file[]" multiple />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="textarea-url">nebo vložte URL adresy</label>
		<div class="controls">
			<textarea id="input-url" rows="6" name="urls" placeholder="http://www.example.com/"></textarea>
			<span class="help-block">Co řádek, to adresa</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Potvrdit</button>
		</div>
	</div>
</form>