<div class="span8 offset2">
	<form class="form-search" action="" method="get">
		<div class="input-append">
			<input type="text" class="span5 search-query" name="criterium" placeholder="%jmeno%" />
			<input class="btn" type="submit" value="Hledat" />
		</div>
		<!--{if criterium?<a class="badge" href="/user/list/">Zrušit filtr</a>:{/if}-->
	</form>
</div>
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th><!--{sortable id}-->#<!--{/sortable}--></th>
			<th><!--{sortable username}-->Username<!--{/sortable}--></th>
			<th><!--{sortable is_admin}-->Admin<!--{/sortable}--></th>
			<th><!--{sortable date_of_creation}-->Čas<!--{/sortable}--></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!--{while data}-->
		<tr>
			<td><!--{id}--></td>
			<td><!--{username}--></td>
			<td><!--{if is_admin?<span class="label label-info" rel="tooltip" title="Administrator">A</a>:{/if}--></td>
			<td title="<!--{date_of_creation}-->"><!--{datef}--></td>
			<td>
				<!--{if is_admin?<a class="label label-info delete-btn" href="/user/makeuser/<!--{id}-->" title="Vytvořit admina">Zrušit práva</a>:<a class="label label-info delete-btn" href="/user/makeadmin/<!--{id}-->" title="Vytvořit admina">Přidat práva</a>{/if}-->
				<a class="label label-important delete-btn" href="/user/delete/<!--{id}-->" title="Smazat uživatele">Smazat</a>
			</td>
		</tr>
		<!--{/while}-->
		<!--{if noresults?
		<tr>
			<td></td>
			<td></td>
			<td class="muted">Nebyly nalezeny žádné výsledky. Vytvořte <a href="/repository-new/">nový</a> repozitář</td>
			<td></td>
			<td></td>
		</tr>
		:{/if}-->
	</tbody>
</table>