<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title><!--if title?<!--{title}-->;BP project--></title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="/resources/css/bootstrap-responsive.min.css" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="/resources/css/application.css" media="screen, projection">
</head>
<body>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/user">User</a></li>
		<li><a href="/error">Error</a></li>
	</ul>

	<hr />
	<div id="content">
		<!--{template_file}-->
	</div>
</body>
</html>